@charset "UTF-8";
/* CSS Document */

/* --------------------------------------------------------------

   * Resets default browser CSS.

-------------------------------------------------------------- */

html { 
	margin:0; 
	padding:0; 
	border:0; 
}

body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, code,
del, dfn, em, img, q, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, dialog, figure, footer, header,
hgroup, nav, section {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

/* This helps to make newer HTML5 elements behave like DIVs in older browers */ 
article, aside, dialog, figure, footer, header,
hgroup, nav, section {
    display:block;
}

/* Line-height should always be unitless! */
body {
  line-height: 1.5;
  background: white; 
}

/* Tables still need 'cellspacing="0"' in the markup. */
table { 
	border-collapse: separate; 
	border-spacing: 0; 
}
/* float:none prevents the span-x classes from breaking table-cell display */
caption, th, td { 
	text-align: left; 
	font-weight: normal; 
	float:none !important; 
}
table, th, td { 
	vertical-align: middle; 
}

/* Remove possible quote marks (") from <q>, <blockquote>. */
blockquote:before, blockquote:after, q:before, q:after { content: ''; }
blockquote, q { quotes: "" ""; }

/* Remove annoying border on linked images. */
a img { border: none; }

/* Remember to define your own focus styles! */
:focus { outline: 0; }

/*  ---- END OF RESET ---- */

body
{
	background-image: url(images/bg.gif);
	margin: 0px;
	padding: 0px;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 13px;
}
p
{
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	font-size: 14px;
}
p.frontGreeting
{
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	font-size: 15px;
}
hr
{
	border-style: dotted;
	color: #CCC;
	margin-bottom: 15px;
}
.container
{
	margin-left: auto;
	margin-right: auto;
	width: 863px;
}

.container #header
{
	height: 132px;
	background-image: url(images/header.png);
	background-repeat: no-repeat;
}
.container #header .topSpaceHolder
{
	height: 77px;
}
.container #header .nav
{
	float: right;
	margin-right: 30px;
}
/* Root list of pages */
.container #header .nav ul li
{
/*	display: inline-block; */
	float: left;
	height: 55px;
	width: 130px;
	list-style: none;
	font-family: Impact, Charcoal, sans-serif;
	letter-spacing: 0px;
	font-size: 20px;
	color: #5C5C5C;
	text-align: center;
}
.container #header .nav ul li .rootItem
{
	display: block;
	margin-top: 10px;
	color: #5C5C5C;
}
.container #header .nav ul li .rootItem:hover
{
	text-decoration: none;
	color: #5C5C5C;
}
.container #header .nav ul li.active
{
	background-color: #FCFCFC;
}
.container #header .nav ul li:hover
{
	background-color: #EAEAEA;
}
/* List of child menu items */
.container #header .nav ul li ul
{
	display: none;
	position: absolute;
	height: auto;
	width: 130px;
	opacity: 0.97;
	background-color: #EFEFEF;
	margin-top: 15px;
	z-index:200;
}
.container #header .nav a
{
	color: #000;
	text-decoration: none;
}
.container #header .nav a:hover
{
	color: #000;
	text-decoration: underline;
}
.container #header .nav ul li ul li
{
	width: 130px;
	height: 40px;
	text-align: center;
	font-size: 13px;
	letter-spacing: 0px;
	font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
.container #header .nav ul li ul li:hover
{
	/*background-color: #EBEBEB;*/
	background-color: #E4E4E4;
}
.container #header .nav ul li ul li .childItem
{
	display: block;
	padding-top: 10px;
	padding-bottom: 10px;
	border-bottom: 1px #CCC dotted;
}
.container #header .nav ul li ul li.bottom
{
	border-bottom: none;
}
.container #header .nav ul li:hover ul
{
	display: block;
}
.container #header .navSpaceHolder
{
	height: 55px;
}
.container #content
{
	background-color: #FCFCFC;
	min-height: 720px;
	height:auto !important;
	height:720px;
	float: left;
	width: 851px;
	float: left;
}
.container #content #photo
{
	margin-left: 8px;
	margin-top: 15px;
	width: 220px;
}
.container #content #contentLeft
{
	margin-top: 5px;
	width: 600px;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}
.container #content #contentLeft h1.greeting
{
	font-size: 35px;
}
.container .rightShadow
{
	background-image: url(images/bodyDropShadow.png);
	background-position: right;
	background-repeat: repeat-y;
	width: 12px;
	min-height: 720px;
	height:auto !important;
	height:720px;
	float: left;
}
.container #footer
{
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	color: #FFFFFF;
	font-size: 12px;
}
.container #footer .bottomShadow span
{
	margin-left: 5px;
}
.container #footer .bottomShadow
{
	background-image: url(images/footer.png);
	background-repeat: no-repeat;
	width: 862px;
	height: 25px;
	float:left;
}
.container #footer #footerContent
{
	
}

.floatLeft
{
	float: left;
}

/* Resume */

#resume
{
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	font-size: 13px;
	margin-top: 15px;
	margin-right: 10px;
	margin-left: 10px;
}
#resume hr
{
	margin-top: 0px;
	margin-bottom: 7px;
}
#resume .resumeSection
{
	padding-bottom: 10px;
}
#resume #contactInfo
{
	text-align: right;
}
#resume h2
{
	font-size: 20px;
}
#resume h3
{
	font-size: 15px;
	font-weight: bold;
}
#resume h4
{
	font-size: 14px;
	font-style: italic;
}
#resume ul
{
	font-size: 14px;
	margin-left: 5px;
}
#resume li
{
	padding-bottom: 1px;
/*	list-style: none;
	background-image: url(images/bullet.gif);
	background-repeat: no-repeat;
	background-position: 0 .5em;
	padding-left: 15px;*/
	margin-left: 15px;
}
#resume .experienceItem
{
	padding-bottom: 10px;
}
#resume a
{
	color: #00425E;
}
#resume a:hover
{
	color: #333;
}
#resume #skills table td.category
{
	width: 35%;
	text-align: right;
	padding-right: 10px;
}
.cvSkills .cvProductExp
{
	width: 15%;
}
.cvSkills .cvYearsExp
{
	width: 7%;
}
.cvSkills .cvSkillsExp
{
	width: 78%;
}

#contactCaptcha
{
	display: none;
}
#contactCaptcha .contactCaptchaFormContent
{
	margin-top: 20px;
}

.project
{
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	font-size: 13px;
	margin-top: 15px;
	margin-right: 10px;
	margin-left: 10px;
}
.project hr
{
	margin-top: 0px;
	margin-bottom: 7px;
}
.project h2
{
	font-size: 20px;
}
.project h3
{
	font-size: 15px;
	font-weight: bold;
	margin-top: 10px;
	margin-bottom: 5px;
}
.project h4
{
	font-size: 14px;
	font-style: italic;
}
.project ul
{
	font-size: 14px;
	margin-left: 5px;
}
.project li
{
	padding-bottom: 1px;
	margin-left: 15px;
}
.project p
{
	padding-bottom: 10px;
}
.projectOverview
{
}
.projectOverview th
{
	padding-right: 20px;
	padding-bottom: 5px;
	font-weight: bold;
}
.overviewContainer
{
	margin-top: 10px;
	width: 100%;
	float: left;
}
.overviewLeft
{
	width: 50%;
	float: left;
}
.overviewRight
{
	width: 50%;
	float: left;
}